body{
    margin:0;
}
.div1{
    height: 10px;
   width: 10px;
   background-color: green;
   border-radius: 50%;
   position: absolute;




/*animation property*/
animation-name:batch3;
animation-duration: 1s;
animation-delay: ;
animation-iteration-count: infinite;
}
@keyframes batch3{
    0%{
        left:0;
        top: 0;

    }
    25%{
        left: 200px;
        top: 0;
        background-image: linear-gradient(purple,aqua);
    }
    50%{
        left: 200px;
        top: 200px;
        background-image: linear-gradient(red, blue);
    }
    75%{
        left: 400px;
        top: 200px;
        background-image: linear-gradient(purple,aqua);
    }
    100%{
        left: 400;
        top: 400;
        background-image: linear-gradient(red, blue);
    }
}